@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

html.dark {
  background: #111827;
  color-scheme: dark;
}

html.dark body {
  background: #111827;
  color: #f3f4f6;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
